{% extends "bootstrap/base.html" %}

{% block title %}Flasky{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="{{ url_for('main.index') }}">Home</a>
    </div>
 <div class="navbar-collapse collapse">
            {% if current_user.is_authenticated and not current_user.is_administrator() %}
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('main.check_module') }}">My Module</a></li>
            </ul>
            {% endif %}
            {% if current_user.is_authenticated and not current_user.is_administrator() %}
             <ul class="nav navbar-nav">
                <li><a href="{{ url_for('main.choose_module') }}">Choose Module</a></li>
            </ul>
            {% endif %}
            {% if current_user.is_authenticated and not current_user.is_administrator() %}
             <ul class="nav navbar-nav">
                <li><a href="{{ url_for('main.check_score') }}">Check Score</a></li>
            </ul>
            {% endif %}
            {% if current_user.is_administrator()%}
             <ul class="nav navbar-nav">
                <li><a href="{{ url_for('main.add_module') }}">Add Modules</a></li>
            </ul>
             <ul class="nav navbar-nav">
                <li><a href="{{ url_for('main.list_modules') }}">Check All Modules</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('main.check_users') }}">Check All Users</a></li>
            </ul>
           {% endif %}
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated%}
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('auth.change_password') }}">Change Password</a></li>
                        <li><a href="{{ url_for('auth.change_email_request') }}">Change Email</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                    </ul>
                </li>
                {% else %}
                  <li><a href="{{url_for('auth.login')}}">LOGIN</a></li>
                {% endif %}
            </ul>
             {% if current_user.is_authenticated and not current_user.is_administrator() %}
                   <ul class="nav navbar-nav">
                <li><a href="{{ url_for('main.user', name=current_user.name) }}">Basic Information</a></li>
                   </ul>
                {% endif %}
        </div>
    </div>
</nav>

{% endblock %}

{% block content %}
<body background="timg.jpg">
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
</body>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}