{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<table class="table">
    <thead>
      <tr>
        <th>Code</th>
        <th>Title</th>
        <th>Module Leader</th>
        <th>Exam Date</th>
      </tr>
    </thead>
    <tbody>
    {% for module in modules %}
    {% if module not in user_modules%}
    <tr>
      <td>{{module.module_code}}</td>
      <td>{{module.title}}</td>
      <td>{{module.staff}}</td>
      <td>{{module.exam_date}}</td>
      <td><a href="{{url_for('main.choose_this',id=module.id)}}"><span class="glyphicon glyphicon-plus"></span></a></td>
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>
{% endblock %}